.merchant_newoffer ul li .container .from_date .sbHolder { background-color: #2d2d2d; border: solid 1px #515151; font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; height: 30px; position: relative; width: 200px; }

.merchant_newoffer ul li .container .from_date .sbHolder { -moz-user-select: none; background:url(../../../images/am_drop.jpg) no-repeat repeat scroll 0 0 ; border: 0 solid #CCCCCC; cursor: pointer; float: left; height: 42px; position: relative; width: 65px; }

.merchant_newoffer ul li .container .from_date a.sbSelector { display: block; float: left; width: 100%; height: 30px; color: #3E3C3B; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 12px 0 0; text-indent: 15px; }

.merchant_newoffer ul li .container .from_date a.sbToggle { display: none; }

.merchant_newoffer ul li .container .from_date .sbHolder .sbToggle:hover { background: url(../img/select-icons.png) 0 -167px no-repeat; }

.merchant_newoffer ul li .container .from_date .sbHolder .sbToggleOpen { background: url(../img/select-icons.png) 0 -16px no-repeat; }

.merchant_newoffer ul li .container .from_date .sbHolder .sbToggleOpen:hover { background: url(../img/select-icons.png) 0 -66px no-repeat; }

.merchant_newoffer ul li .container .from_date .sbHolder .sbHolderDisabled { background-color: #3C3C3C; border: solid 1px #515151; }

.merchant_newoffer ul li .container .from_date .sbHolder .sbHolderDisabled .sbHolder { }

.merchant_newoffer ul li .container .from_date .sbHolder .sbHolderDisabled .sbToggle { }

.merchant_newoffer ul li .container .from_date .sbHolder .sbOptions { background-color: #f1f1f1; border: solid 1px #cdccca; border-top: solid 0px #cccccc; list-style: none; left: -1px; margin:0 !important; padding: 0!important; position: absolute; top: 30px; width: 64px !important; z-index: 1; /*overflow-y: auto;*/ max-height:inherit !important;}

.merchant_newoffer ul li .container .from_date .sbHolder .sbOptions li { padding: 0 0px 5px 10px; border:none; width:97%}

.merchant_newoffer ul li .container .from_date .sbHolder .sbOptions a { border-bottom: dotted 1px #515151; display: block; outline: none; padding: 7px 0 7px 3px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; display:inline; border:none; float:none;}

.merchant_newoffer ul li .container .from_date .sbHolder .sbOptions a:link, .sbOptions a:visited { color: #777777; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 0px; text-indent: 10px; }

.merchant_newoffer ul li .container .from_date .sbHolder .sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus { color: #777777; }

.merchant_newoffer ul li .container .from_date .sbHolder .sbOptions li.last a { border-bottom: none; }

.merchant_newoffer ul li .container .from_date .sbHolder .sbOptions .sbDisabled { border-bottom: dotted 1px #515151; color: #999; display: block; padding: 7px 0 7px 3px; }

.merchant_newoffer ul li .container .from_date .sbHolder .sbOptions .sbGroup { border-bottom: dotted 1px #515151; color: #EBB52D; display: block; font-weight: bold; padding: 7px 0 7px 3px; }

.merchant_newoffer ul li .container .from_date .sbHolder .sbOptions .sbSub { padding-left: 17px; }










.merchant_newoffer ul li .container .from_date .from_dd .sbHolder { background-color: #2d2d2d; border: solid 1px #515151; font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; height: 30px; position: relative; width: 200px; }

.merchant_newoffer ul li .container .from_date .from_dd  .sbHolder { -moz-user-select: none; background:url(../../../images/from_drop.jpg) no-repeat repeat scroll 0 0 ; border: 0 solid #CCCCCC; cursor: pointer; float: left; height: 42px; position: relative; width: 85px; }

.merchant_newoffer ul li .container .from_date .from_dd  a.sbSelector { display: block; float: left; width: 100%; height: 30px; color: #3E3C3B; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 12px 0 0; text-indent: 15px; }

.merchant_newoffer ul li .container .from_date .from_dd  a.sbToggle { display: none; }

.merchant_newoffer ul li .container .from_date .from_dd  .sbHolder .sbToggle:hover { background: url(../img/select-icons.png) 0 -167px no-repeat; }

.merchant_newoffer ul li .container .from_date .from_dd  .sbHolder .sbToggleOpen { background: url(../img/select-icons.png) 0 -16px no-repeat; }

.merchant_newoffer ul li .container .from_date .from_dd  .sbHolder .sbToggleOpen:hover { background: url(../img/select-icons.png) 0 -66px no-repeat; }

.merchant_newoffer ul li .container .from_date .from_dd  .sbHolder .sbHolderDisabled { background-color: #3C3C3C; border: solid 1px #515151; }

.merchant_newoffer ul li .container .from_date .from_dd  .sbHolder .sbHolderDisabled .sbHolder { }

.merchant_newoffer ul li .container .from_date .from_dd  .sbHolder .sbHolderDisabled .sbToggle { }

.merchant_newoffer ul li .container .from_date .from_dd  .sbHolder .sbOptions { background-color: #f1f1f1; border: solid 1px #cdccca; border-top: solid 0px #cccccc; list-style: none; left: 0px; margin:0 !important; padding: 0!important; position: absolute; top: 40px ; width: 83px !important; z-index: 1; /*overflow-y: auto;*/ max-height:200px !important; overflow-y:auto; overflow:hidden}

.merchant_newoffer ul li .container .from_date .from_dd  .sbHolder .sbOptions li { padding: 0 0px 5px 10px; border:none; width:97%; font-size:12px;}

.merchant_newoffer ul li .container .from_date .from_dd  .sbHolder .sbOptions a { border-bottom: dotted 1px #515151; display: block; outline: none; padding: 7px 0 7px 3px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; display:inline; border:none; float:none;}

.merchant_newoffer ul li .container .from_date .from_dd  .sbHolder .sbOptions a:link, .sbOptions a:visited { color: #777777; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 0px; text-indent: 10px; }

.merchant_newoffer ul li .container .from_date .from_dd  .sbHolder .sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus { color: #777777; }

.merchant_newoffer ul li .container .from_date .from_dd  .sbHolder .sbOptions li.last a { border-bottom: none; }

.merchant_newoffer ul li .container .from_date .from_dd  .sbHolder .sbOptions .sbDisabled { border-bottom: dotted 1px #515151; color: #999; display: block; padding: 7px 0 7px 3px; }

.merchant_newoffer ul li .container .from_date .from_dd  .sbHolder .sbOptions .sbGroup { border-bottom: dotted 1px #515151; color: #EBB52D; display: block; font-weight: bold; padding: 7px 0 7px 3px; }

.merchant_newoffer ul li .container .from_date .from_dd  .sbHolder .sbOptions .sbSub { padding-left: 17px; }































.merchant_newoffer ul li .container .to_date .sbHolder { background-color: #2d2d2d; border: solid 1px #515151; font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; height: 30px; position: relative; width: 200px; }

.merchant_newoffer ul li .container .to_date .sbHolder { -moz-user-select: none; background:url(../../../images/am_drop.jpg) no-repeat repeat scroll 0 0 ; border: 0 solid #CCCCCC; cursor: pointer; float: left; height: 42px; position: relative; width: 65px; }

.merchant_newoffer ul li .container .to_date a.sbSelector { display: block; float: left; width: 100%; height: 30px; color: #3E3C3B; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 12px 0 0; text-indent: 15px; }

.merchant_newoffer ul li .container .to_date a.sbToggle { display: none; }

.merchant_newoffer ul li .container .to_date .sbHolder .sbToggle:hover { background: url(../img/select-icons.png) 0 -167px no-repeat; }

.merchant_newoffer ul li .container .to_date .sbHolder .sbToggleOpen { background: url(../img/select-icons.png) 0 -16px no-repeat; }

.merchant_newoffer ul li .container .to_date .sbHolder .sbToggleOpen:hover { background: url(../img/select-icons.png) 0 -66px no-repeat; }

.merchant_newoffer ul li .container .to_date .sbHolder .sbHolderDisabled { background-color: #3C3C3C; border: solid 1px #515151; }

.merchant_newoffer ul li .container .to_date .sbHolder .sbHolderDisabled .sbHolder { }

.merchant_newoffer ul li .container .to_date .sbHolder .sbHolderDisabled .sbToggle { }

.merchant_newoffer ul li .container .to_date .sbHolder .sbOptions { background-color: #f1f1f1; border: solid 1px #cdccca; border-top: solid 0px #cccccc; list-style: none; left: -1px; margin:0 !important; padding: 0!important; position: absolute; top: 30px; width: 64px !important; z-index: 1; /*overflow-y: auto;*/ max-height:inherit !important;}

.merchant_newoffer ul li .container .to_date .sbHolder .sbOptions li { padding: 0 0px 5px 10px; border:none; width:97%}

.merchant_newoffer ul li .container .to_date .sbHolder .sbOptions a { border-bottom: dotted 1px #515151; display: block; outline: none; padding: 7px 0 7px 3px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; display:inline; border:none; float:none;}

.merchant_newoffer ul li .container .from_date .sbHolder .sbOptions a:link, .sbOptions a:visited { color: #777777; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 0px; text-indent: 10px; }

.merchant_newoffer ul li .container .to_date .sbHolder .sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus { color: #777777; }

.merchant_newoffer ul li .container .to_date .sbHolder .sbOptions li.last a { border-bottom: none; }

.merchant_newoffer ul li .container .to_date .sbHolder .sbOptions .sbDisabled { border-bottom: dotted 1px #515151; color: #999; display: block; padding: 7px 0 7px 3px; }

.merchant_newoffer ul li .container .to_date .sbHolder .sbOptions .sbGroup { border-bottom: dotted 1px #515151; color: #EBB52D; display: block; font-weight: bold; padding: 7px 0 7px 3px; }

.merchant_newoffer ul li .container .to_date .sbHolder .sbOptions .sbSub { padding-left: 17px; }










.merchant_newoffer ul li .container .to_date .from_dd .sbHolder { background-color: #2d2d2d; border: solid 1px #515151; font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; height: 30px; position: relative; width: 200px; }

.merchant_newoffer ul li .container .to_date .from_dd  .sbHolder { -moz-user-select: none; background:url(../../../images/from_drop.jpg) no-repeat repeat scroll 0 0 ; border: 0 solid #CCCCCC; cursor: pointer; float: left; height: 42px; position: relative; width: 85px; }

.merchant_newoffer ul li .container .to_date .from_dd  a.sbSelector { display: block; float: left; width: 100%; height: 30px; color: #3E3C3B; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 12px 0 0; text-indent: 15px; }

.merchant_newoffer ul li .container .to_date .from_dd  a.sbToggle { display: none; }

.merchant_newoffer ul li .container .to_date .from_dd  .sbHolder .sbToggle:hover { background: url(../img/select-icons.png) 0 -167px no-repeat; }

.merchant_newoffer ul li .container .to_date .from_dd  .sbHolder .sbToggleOpen { background: url(../img/select-icons.png) 0 -16px no-repeat; }

.merchant_newoffer ul li .container .to_date .from_dd  .sbHolder .sbToggleOpen:hover { background: url(../img/select-icons.png) 0 -66px no-repeat; }

.merchant_newoffer ul li .container .to_date .from_dd  .sbHolder .sbHolderDisabled { background-color: #3C3C3C; border: solid 1px #515151; }

.merchant_newoffer ul li .container .to_date .from_dd  .sbHolder .sbHolderDisabled .sbHolder { }

.merchant_newoffer ul li .container .to_date .from_dd  .sbHolder .sbHolderDisabled .sbToggle { }

.merchant_newoffer ul li .container .to_date .from_dd  .sbHolder .sbOptions { background-color: #f1f1f1; border: solid 1px #cdccca; border-top: solid 0px #cccccc; list-style: none; left: 0px; margin:0 !important; padding: 0!important; position: absolute; top: 30px; width: 83px !important; z-index: 1; /*overflow-y: auto;*/ max-height:inherit !important;}

.merchant_newoffer ul li .container .to_date .from_dd  .sbHolder .sbOptions li { padding: 0 0px 5px 10px; border:none; width:97%}

.merchant_newoffer ul li .container .to_date .from_dd  .sbHolder .sbOptions a { border-bottom: dotted 1px #515151; display: block; outline: none; padding: 7px 0 7px 3px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; display:inline; border:none; float:none;}

.merchant_newoffer ul li .container .to_date .from_dd  .sbHolder .sbOptions a:link, .sbOptions a:visited { color: #777777; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 0px; text-indent: 10px; }

.merchant_newoffer ul li .container .to_date .from_dd  .sbHolder .sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus { color: #777777; }

.merchant_newoffer ul li .container .to_date .from_dd  .sbHolder .sbOptions li.last a { border-bottom: none; }

.merchant_newoffer ul li .container .to_date .from_dd  .sbHolder .sbOptions .sbDisabled { border-bottom: dotted 1px #515151; color: #999; display: block; padding: 7px 0 7px 3px; }

.merchant_newoffer ul li .container .to_date .from_dd  .sbHolder .sbOptions .sbGroup { border-bottom: dotted 1px #515151; color: #EBB52D; display: block; font-weight: bold; padding: 7px 0 7px 3px; }

.merchant_newoffer ul li .container .to_date .from_dd  .sbHolder .sbOptions .sbSub { padding-left: 17px; }





















.merchant_newoffer ul li .container .all_bg .sbHolder { background-color: #2d2d2d; border: solid 1px #515151; font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; height: 30px; position: relative; width: 200px; }

.merchant_newoffer ul li .container .all_bg  .sbHolder { -moz-user-select: none; background:url(../../../images/from_drop.jpg) no-repeat repeat scroll 0 0 ; border: 0 solid #CCCCCC; cursor: pointer; float: left; height: 42px; position: relative; width: 85px; margin:0px 12px 0px 0px;}

.merchant_newoffer ul li .container .all_bg  a.sbSelector { display: block; float: left; width: 100%; height: 30px; color: #3E3C3B; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 12px 0 0; text-indent: 15px; }

.merchant_newoffer ul li .container .all_bg  a.sbToggle { display: none; }

.merchant_newoffer ul li .container .all_bg  .sbHolder .sbToggle:hover { background: url(../img/select-icons.png) 0 -167px no-repeat; }

.merchant_newoffer ul li .container .all_bg  .sbHolder .sbToggleOpen { background: url(../img/select-icons.png) 0 -16px no-repeat; }

.merchant_newoffer ul li .container .all_bg  .sbHolder .sbToggleOpen:hover { background: url(../img/select-icons.png) 0 -66px no-repeat; }

.merchant_newoffer ul li .container .all_bg  .sbHolder .sbHolderDisabled { background-color: #3C3C3C; border: solid 1px #515151; }

.merchant_newoffer ul li .container .all_bg  .sbHolder .sbHolderDisabled .sbHolder { }

.merchant_newoffer ul li .container .all_bg  .sbHolder .sbHolderDisabled .sbToggle { }

.merchant_newoffer ul li .container .all_bg  .sbHolder .sbOptions { background-color: #f1f1f1; border: solid 1px #cdccca; border-top: solid 0px #cccccc; list-style: none; left: -1px; margin:0 !important; padding: 0!important; position: absolute; top: 30px; width: 84px !important; z-index: 1; /*overflow-y: auto;*/ max-height:inherit !important;}

.merchant_newoffer ul li .container .all_bg  .sbHolder .sbOptions li { padding: 0 0px 5px 10px; border:none; width:97%; font-size:12px;}

.merchant_newoffer ul li .container .all_bg  .sbHolder .sbOptions a { border-bottom: dotted 1px #515151; display: block; outline: none; padding: 7px 0 7px 3px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; display:inline; border:none; float:none;}

.merchant_newoffer ul li .container .all_bg  .sbHolder .sbOptions a:link, .sbOptions a:visited { color: #777777; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding: 0px; text-indent: 10px; }

.merchant_newoffer ul li .container .all_bg  .sbHolder .sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus { color: #777777; }

.merchant_newoffer ul li .container .all_bg  .sbHolder .sbOptions li.last a { border-bottom: none; }

.merchant_newoffer ul li .container .all_bg .sbHolder .sbOptions .sbDisabled { border-bottom: dotted 1px #515151; color: #999; display: block; padding: 7px 0 7px 3px; }

.merchant_newoffer ul li .container .all_bg  .sbHolder .sbOptions .sbGroup { border-bottom: dotted 1px #515151; color: #EBB52D; display: block; font-weight: bold; padding: 7px 0 7px 3px; }

.merchant_newoffer ul li .container .all_bg .sbHolder .sbOptions .sbSub { padding-left: 17px; }




