
#slides { position: absolute; top: 0px; left: 0px; z-index: 100;  width: 440px; height: 376px; overflow:hidden}

#slides .next, #slides .prev { position: absolute; top:325px; right:44px; width: 24px; height: 43px; display: block; z-index: 101; }

.slides_container { width: 440px; height: 376px; overflow: hidden; position: relative; }

#slides .next { left: 406px; }

.pagination { margin: 26px auto 0; width: 100px; display:none;}

.pagination li { float: left; margin: 0 1px; }

.pagination li a { display: block; width: 12px; height: 0; padding-top: 12px; background-image: url(../img/pagination.png); background-position: 0 0; float: left; overflow: hidden; }

.pagination li.current a { background-position: 0 -12px; }

.caption { position: absolute; height: 30px; padding: 5px 20px 0 20px; background: #000; background: rgba(0,0,0,.5); width: 540px; font-size: 1.3em; line-height: 1.33; color: #fff; border-top: 1px solid #000; text-shadow: none; z-index: 1000; }

@media (max-width: 1000px) {
	
#slides { position: absolute; top: 0px; left: 0px; z-index: 100;   height: 320px; width: 384px; overflow:hidden}


.slides_container {  height: 320px; width: 384px; overflow: hidden; position: relative; }
.slides_container img{  height: 320px; width: 384px;}

#slides .next, #slides .prev { position: absolute; top:278px; right:44px; width: 24px; height: 43px; display: block; z-index: 101; }
#slides .next { left: 350px; }



}