
.cleaner { clear: both }

.h10 { height: 10px }

.h20 { height: 20px }

.h30 { height: 30px }

.h40 { height: 40px }

.h50 { height: 50px }

.h60 { height: 60px }

.ui-slider .ui-slider-handle {  
        position: absolute;  
        z-index: 2;
        cursor: pointer;  
        background: url('../../images/pointer.jpg') no-repeat 50% 50% !important;
		border:none !important;
        outline: none;
        border: none;
        top: -15px !important;
    } 
    .ui-slider .ui-slider-range-min {
       /* background: url('http://www.prohostr.com/script/images/assets/sliderfilled.png') repeat-x;*/
        z-index:1;
    }
    .ui-slider {
       /* background: url('http://www.prohostr.com/script/images/assets/sliderunfilled.png') repeat-x;*/
        z-index:1;
    }
	
	

.gender #chooseplan { width: 157px; position: relative; float:left; margin:0px 0px 11px 10px; }

#chooseplan .sb { width: 190px; float: left }

#chooseplan .lb { width: 290px; float: left; }

#chooseplan h2 { text-shadow: 1px 1px black; color: white; font-size: 42px; }

#chooseplan p { font-family: Droid Sans; font-size: 16px; color: white; }

#chooseplan a { font-family: droid sans; font-size: 40px; text-decoration: none; color: white; text-align: center; }

#chooseplan input { font-family: Droid Sans; background: #F7BC41; border: 0; font-size: 28px; color: white; width: 100px; }

#chooseplan label { font-family: Droid Sans; font-size: 18px; }

#chooseplan .box { width: 290px; height: 45px; padding: 10px 10px 10px 10px; position: relative; background-color: #F7BC41; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; margin-right: 5px; margin-left: 5px; margin-top: 3px; float: left; }

#chooseplan .orderbox { width: 950px; height: 60px; position: relative; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; margin-right: 7px; margin-left: 7px; margin-top: 3px; float: left; background: #d89736; background: -moz-linear-gradient(top, #d89736 0%, #f4ca75 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d89736), color-stop(100%, #f4ca75)); background: -webkit-linear-gradient(top, #d89736 0%, #f4ca75 100%); background: -o-linear-gradient(top, #d89736 0%, #f4ca75 100%); background: -ms-linear-gradient(top, #d89736 0%, #f4ca75 100%); background: linear-gradient(to bottom, #d89736 0%, #f4ca75 100%); }

#footer_wrapper { clear: both; width: 100%; background: #e0e0e0 url(images/footer.png) top repeat-x }

#footer { clear: both; width: 960px; padding: 30px 10px 15px; margin: 0 auto; color: #666; text-align: center; }
