.filter2 .filter_nav { }

.filter2 .filter_nav ul li { float: left; margin: 0 0 0 10px; width: 93%; }

.filter2 .filter_nav ul li input[type=checkbox] { float: left; margin: 7px 8px 0 0; }

.filter2 .filter_nav ul li a { background: url(../../../images/gray_down_arrow.jpg) no-repeat right 0 #DBDBDB; color: #2D2D2D; float: left; font-family: 'arial'; font-size: 13px; font-style: italic; line-height: 28px; padding: 0 36px 0px 8px; width: 73px; font-weight: normal; }

.filter2 .filter_nav ul.submenu_nav { background: none repeat scroll 0 0 #F1F0F0; box-shadow: 2px 1px 3px 1px #D6D4D4; display: none; height: auto; padding: 10px 0; position: absolute; width: 116px; z-index: 9999; top: 30px; }

.filter2 .filter_nav ul.submenu_nav li p { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); color: #595655; float: left; font-size: 12px; font-style: normal; padding: 0; width: auto; font-weight: normal; line-height:28px;}

.filter2 .filter_nav ul.submenu_nav li h4 a { color: #B1AEAD; font-size: 10px; font-style: italic;

	background: none;
    font-weight: normal;
    line-height: inherit;
    padding: 0;
    width: 100%;
	
}

.filter2 .filter_btn {
    border-left: 1px solid #7E7979;
    border-right: 1px solid #7E7979;
	float:left; width:auto; margin: 25px 0px 20px 0;
}

.filter2 .filter_btn a {
    color: #2D2D2D;
    display: block;
    font-family: 'arial';
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    padding: 3px 14px;
}




/* ====== DROPDOWN VERSION ====== */

.click-nav { cursor: pointer; float: left; margin: 25px 6px 20px 0; padding: 0; }

.click-nav ul { font-weight: 900; }

.click-nav ul li { position: relative; list-style: none; cursor: pointer; }

.click-nav ul li ul { position: absolute; left: 0; right: 0; z-index: 999; }

.click-nav ul .clicker { background: #2284B5; color: #FFF; }

.click-nav ul .clicker:hover, .click-nav ul .active { }

.click-nav img { position: absolute; top: 9px; left: 12px; }

.click-nav ul li a { transition: background-color 0.2s ease-in-out; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; display: block; padding: 8px 10px 8px 40px; background: #FFF; color: #333; text-decoration: none; }

/* Fallbacks */


.click-nav .no-js ul { display: none; }

.click-nav .no-js:hover ul { display: block; }

/* ====== DROPDOWN VERSION ====== */


.click-nav2 { cursor: pointer; float: left; margin: 25px 6px 20px 0; padding: 0; }

.click-nav2 ul { font-weight: 900; }

.click-nav2 ul li { position: relative; list-style: none; cursor: pointer; }

.click-nav2 ul li ul { position: absolute; left: 0; right: 0; }

.click-nav2 ul .clicker2 { background: #2284B5; color: #FFF; }

.click-nav2 ul .clicker2:hover, .click-nav2 ul .active { }

.click-nav2 img { position: absolute; top: 9px; left: 12px; }

.click-nav2 ul li a { transition: background-color 0.2s ease-in-out; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; display: block; padding: 8px 10px 8px 40px; background: #FFF; color: #333; text-decoration: none; }

.click-nav2 ul li a:hover { }

/* Fallbacks */


.click-nav2 .no-js2 ul { display: none; }

/* ====== DROPDOWN VERSION ====== */


.click-nav3 { cursor: pointer; float: left; margin: 25px 6px 20px 0; padding: 0; }

.click-nav3 ul { font-weight: 900; }

.click-nav3 ul li { position: relative; list-style: none; cursor: pointer; }

.click-nav3 ul li ul { position: absolute; left: 0; right: 0; }

.click-nav3 ul .clicker3 { background: #2284B5; color: #FFF; }

.click-nav3 ul .clicker3:hover, .click-nav3 ul .active { }

.click-nav3 img { position: absolute; top: 9px; left: 12px; }

.click-nav3 ul li a { transition: background-color 0.2s ease-in-out; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; display: block; padding: 8px 10px 8px 40px; background: #FFF; color: #333; text-decoration: none; }

.click-nav3 ul li a:hover { }

/* Fallbacks */


.click-nav3 .no-js3 ul { display: none; }

/* ====== DROPDOWN VERSION ====== */


.click-nav4 { cursor: pointer; float: left; margin: 25px 6px 20px 0; padding: 0; }

.click-nav4 ul { font-weight: 900; }

.click-nav4 ul li { position: relative; list-style: none; cursor: pointer; }

.click-nav4 ul li ul { position: absolute; left: 0; right: 0; }

.click-nav4 ul .clicker4 { background: #2284B5; color: #FFF; }

.click-nav4 ul .clicker4:hover, .click-nav4 ul .active { }

.click-nav4 img { position: absolute; top: 9px; left: 12px; }

.click-nav4 ul li a { transition: background-color 0.2s ease-in-out; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; display: block; padding: 8px 10px 8px 40px; background: #FFF; color: #333; text-decoration: none; }

.click-nav4 ul li a:hover { }

/* Fallbacks */


.click-nav4 .no-js2 ul { display: none; }

/* ====== DROPDOWN VERSION ====== */


.click-nav5 { cursor: pointer; float: left; margin: 25px 6px 20px 0; padding: 0; }

.click-nav5 ul { font-weight: 900; }

.click-nav5 ul li { position: relative; list-style: none; cursor: pointer; }

.click-nav5 ul li ul { position: absolute; left: 0; right: 0; }

.click-nav5 ul .clicker5 { background: #2284B5; color: #FFF; }

.click-nav5 ul .clicker5:hover, .click-nav5 ul .active { }

.click-nav5 img { position: absolute; top: 9px; left: 12px; }

.click-nav5 ul li a { transition: background-color 0.2s ease-in-out; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; display: block; padding: 8px 10px 8px 40px; background: #FFF; color: #333; text-decoration: none; }

.click-nav5 ul li a:hover { }

/* Fallbacks */


.click-nav5 .no-js5 ul { display: none; }

/* ====== DROPDOWN VERSION ====== */


.click-nav6 { cursor: pointer; float: left; margin: 25px 6px 20px 0; padding: 0; }

.click-nav6 ul { font-weight: 900; }

.click-nav6 ul li { position: relative; list-style: none; cursor: pointer; }

.click-nav6 ul li ul { position: absolute; left: 0; right: 0; }

.click-nav6 ul .clicker6 { background: #2284B5; color: #FFF; }

.click-nav6 ul .clicker6:hover, .click-nav6 ul .active { }

.click-nav6 img { position: absolute; top: 9px; left: 12px; }

.click-nav6 ul li a { transition: background-color 0.2s ease-in-out; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; display: block; padding: 8px 10px 8px 40px; background: #FFF; color: #333; text-decoration: none; }

.click-nav6 ul li a:hover { }

/* Fallbacks */


.click-nav6 .no-js6 ul { display: none; }

/* ====== DROPDOWN VERSION ====== */


.click-nav7 { cursor: pointer; float: left; margin: 25px 6px 20px 0; padding: 0; }

.click-nav7 ul { font-weight: 900; }

.click-nav7 ul li { position: relative; list-style: none; cursor: pointer; }

.click-nav7 ul li ul { position: absolute; left: 0; right: 0; }

.click-nav7 ul .clicker7 { background: #2284B5; color: #FFF; }

.click-nav7 ul .clicker7:hover, .click-nav7 ul .active { }

.click-nav7 img { position: absolute; top: 9px; left: 12px; }

.click-nav7 ul li a { transition: background-color 0.2s ease-in-out; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; display: block; padding: 8px 10px 8px 40px; background: #FFF; color: #333; text-decoration: none; }

.click-nav7 ul li a:hover { }

/* Fallbacks */


.click-nav7 .no-js7 ul { display: none; }

/* ====== DROPDOWN VERSION ====== */


.click-nav8 { cursor: pointer; float: left; margin: 25px 6px 20px 0; padding: 0; }

.click-nav8 ul { font-weight: 900; }

.click-nav8 ul li { position: relative; list-style: none; cursor: pointer; }

.click-nav8 ul li ul { position: absolute; left: 0; right: 0; }

.click-nav8 ul .clicker8 { background: #2284B5; color: #FFF; }

.click-nav8 ul .clicker8:hover, .click-nav8 ul .active { }

.click-nav8 img { position: absolute; top: 9px; left: 12px; }

.click-nav8 ul li a { transition: background-color 0.2s ease-in-out; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; display: block; padding: 8px 10px 8px 40px; background: #FFF; color: #333; text-decoration: none; }

.click-nav8 ul li a:hover { }

/* Fallbacks */


.click-nav8 .no-js8 ul { display: none; }

/* ====== DROPDOWN VERSION ====== */


.click-nav9 { cursor: pointer; float: left; margin: 25px 6px 20px 0; padding: 0; }

.click-nav9 ul { font-weight: 900; }

.click-nav9 ul li { position: relative; list-style: none; cursor: pointer; }

.click-nav9 ul li ul { position: absolute; left: 0; right: 0; }

.click-nav9 ul .clicker9 { background: #2284B5; color: #FFF; }

.click-nav9 ul .clicker9:hover, .click-nav9 ul .active { }

.click-nav9 img { position: absolute; top: 9px; left: 12px; }

.click-nav9 ul li a { transition: background-color 0.2s ease-in-out; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; display: block; padding: 8px 10px 8px 40px; background: #FFF; color: #333; text-decoration: none; }

.click-nav9 ul li a:hover { }

/* Fallbacks */


.click-nav9 .no-js9 ul { display: none; }

/* ====== DROPDOWN VERSION ====== */


.click-nav10 { cursor: pointer; float: left; margin: 25px 6px 20px 0; padding: 0; }

.click-nav10 ul { font-weight: 900; }

.click-nav10 ul li { position: relative; list-style: none; cursor: pointer; }

.click-nav10 ul li ul { position: absolute; left: 0; right: 0; }

.click-nav10 ul .clicker10 { background: #2284B5; color: #FFF; }

.click-nav10 ul .clicker10:hover, .click-nav10 ul .active { }

.click-nav10 img { position: absolute; top: 9px; left: 12px; }

.click-nav10 ul li a { transition: background-color 0.2s ease-in-out; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; display: block; padding: 8px 10px 8px 40px; background: #FFF; color: #333; text-decoration: none; }

.click-nav10 ul li a:hover { }

/* Fallbacks */


.click-nav10 .no-js10 ul { display: none; }

/* ====== DROPDOWN VERSION ====== */


.click-nav11 { cursor: pointer; float: left; margin: 25px 6px 20px 0; padding: 0; }

.click-nav11 ul { font-weight: 900; }

.click-nav11 ul li { position: relative; list-style: none; cursor: pointer; }

.click-nav11 ul li ul { position: absolute; left: 0; right: 0; }

.click-nav11 ul .clicker11 { background: #2284B5; color: #FFF; }

.click-nav11 ul .clicker11:hover, .click-nav11 ul .active { }

.click-nav11 img { position: absolute; top: 9px; left: 12px; }

.click-nav11 ul li a { transition: background-color 0.2s ease-in-out; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; display: block; padding: 8px 10px 8px 40px; background: #FFF; color: #333; text-decoration: none; }

.click-nav11 ul li a:hover { }

/* Fallbacks */


.click-nav11 .no-js11 ul { display: none; }

/* ====== DROPDOWN VERSION ====== */


.click-nav12 { cursor: pointer; float: left; margin: 25px 6px 20px 0; padding: 0; }

.click-nav12 ul { font-weight: 900; }

.click-nav12 ul li { position: relative; list-style: none; cursor: pointer; }

.click-nav12 ul li ul { position: absolute; left: 0; right: 0; }

.click-nav12 ul .clicker12 { background: #2284B5; color: #FFF; }

.click-nav12 ul .clicker12:hover, .click-nav12 ul .active { }

.click-nav12 img { position: absolute; top: 9px; left: 12px; }

.click-nav12 ul li a { transition: background-color 0.2s ease-in-out; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; display: block; padding: 8px 10px 8px 40px; background: #FFF; color: #333; text-decoration: none; }

.click-nav12 ul li a:hover { }

/* Fallbacks */


.click-nav12 .no-js12 ul { display: none; }

/* ====== DROPDOWN VERSION ====== */


.click-nav13 { cursor: pointer; float: left; margin: 25px 6px 20px 0; padding: 0; }

.click-nav13 ul { font-weight: 900; }

.click-nav13 ul li { position: relative; list-style: none; cursor: pointer; }

.click-nav13 ul li ul { position: absolute; left: 0; right: 0; }

.click-nav13 ul .clicker13 { background: #2284B5; color: #FFF; }

.click-nav13 ul .clicker13:hover, .click-nav13 ul .active { }

.click-nav13 img { position: absolute; top: 9px; left: 12px; }

.click-nav13 ul li a { transition: background-color 0.2s ease-in-out; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; display: block; padding: 8px 10px 8px 40px; background: #FFF; color: #333; text-decoration: none; }

.click-nav13 ul li a:hover { }

/* Fallbacks */


.click-nav13 .no-js13 ul { display: none; }

/* ====== DROPDOWN VERSION ====== */


.click-nav14 { cursor: pointer; float: left; margin: 25px 6px 20px 0; padding: 0; }

.click-nav14 ul { font-weight: 900; }

.click-nav14 ul li { position: relative; list-style: none; cursor: pointer; }

.click-nav14 ul li ul { position: absolute; left: 0; right: 0; }

.click-nav14 ul .clicker14 { background: #2284B5; color: #FFF; }

.click-nav14 ul .clicker14:hover, .click-nav14 ul .active { }

.click-nav14 img { position: absolute; top: 9px; left: 12px; }

.click-nav14 ul li a { transition: background-color 0.2s ease-in-out; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; display: block; padding: 8px 10px 8px 40px; background: #FFF; color: #333; text-decoration: none; }

.click-nav14 ul li a:hover { }

/* Fallbacks */


.click-nav14 .no-js14 ul { display: none; }

/* ====== DROPDOWN VERSION ====== */


.click-nav15 { cursor: pointer; float: left; margin: 25px 6px 20px 0; padding: 0; }

.click-nav15 ul { font-weight: 900; }

.click-nav15 ul li { position: relative; list-style: none; cursor: pointer; }

.click-nav15 ul li ul { position: absolute; left: 0; right: 0; }

.click-nav15 ul .clicker15 { background: #2284B5; color: #FFF; }

.click-nav15 ul .clicker15:hover, .click-nav15 ul .active { }

.click-nav15 img { position: absolute; top: 9px; left: 12px; }

.click-nav15 ul li a { transition: background-color 0.2s ease-in-out; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; display: block; padding: 8px 10px 8px 40px; background: #FFF; color: #333; text-decoration: none; }

.click-nav15 ul li a:hover { }

/* Fallbacks */


.click-nav15 .no-js15 ul { display: none; }

.click-nav15 .no-js:hover ul { display: block; }
