
/* --- EASYDROPDOWN DEFAULT THEME --- */

/* PREFIXED CSS */



.dropdown, .dropdown div, .dropdown li, .dropdown div::after { -webkit-transition: all 150ms ease-in-out; -moz-transition: all 150ms ease-in-out; -ms-transition: all 150ms ease-in-out; transition: all 150ms ease-in-out; }

.dropdown .selected::after, .dropdown.scrollable div::after { -webkit-pointer-events: none; -moz-pointer-events: none; -ms-pointer-events: none; pointer-events: none; }

/* WRAPPER */



.dropdown { position: relative; width: 128px; border: 0px solid #ccc; cursor: pointer; background: url(../../images/payment_drop.jpg); -webkit-user-select: none; -moz-user-select: none; user-select: none; height: 41px; float: left; }

.dropdown.open { z-index: 2;}

/*.dropdown:hover { box-shadow: 0 0 5px rgba(0,0,0,.15); }

.dropdown.focus { box-shadow: 0 0 5px rgba(51,102,248,.4); }*/

/* CARAT */



.dropdown .carat { display: none; position: absolute; right: 12px; top: 50%; margin-top: -4px; border: 6px solid transparent; border-top: 8px solid #000; }

.dropdown.open .carat { margin-top: -10px; border-top: 6px solid transparent; border-bottom: 8px solid #000; }

.dropdown.disabled .carat { border-top-color: #999; }

/* OLD SELECT (HIDDEN) */



.dropdown .old { position: absolute; left: 0; top: 0; height: 0; width: 0; overflow: hidden; }

.dropdown select { position: absolute; left: 0px; top: 0px; }

.dropdown.touch .old { width: 100%; height: 100%; }

.dropdown.touch select { width: 100%; height: 100%; opacity: 0; }

/* SELECTED FEEDBACK ITEM */ 



.dropdown .selected, .dropdown li { display: block; font-size: 14px; line-height: 1;  color: #7E7979; padding: 14px 12px 0px; overflow: hidden; white-space: nowrap; width: 100%; font-family: Arial, Helvetica, sans-serif; }

.dropdown li img { float: left; }

.dropdown.disabled .selected { color: #999; }

.dropdown .selected::after { content: ''; position: absolute; right: 0; top: 0; bottom: 0; }

/* DROP DOWN WRAPPER */



.dropdown div { position: absolute; height: 0; left: -1px; right: -1px; top: 100%; margin-top: -1px; background: #fff; border: 1px solid #ccc; border-top: 1px solid #eee; border-radius: 0 0 3px 3px; overflow: hidden; opacity: 0; }

/* Height is adjusted by JS on open */



.dropdown.open div { opacity: 1; z-index: 2; max-height:200px; }
.dropdown.open div ul {max-height:200px; overflow:hidden; overflow-y:scroll;    }

.cal_detail table tr td .calander_day ul li .drop_new .dropdown.open div { opacity: 1; z-index: 2; max-height:80px; }


.cal_detail table tr td .calander_day ul li .drop_new .dropdown.open div ul {max-height:80px; overflow:hidden; overflow-y:scroll;    }

/* FADE OVERLAY FOR SCROLLING LISTS */



.dropdown.scrollable div::after { content: ''; position: absolute; left: 0; right: 0; bottom: 0; height: 50px; box-shadow: inset 0 -50px 30px -35px #fff; }

.dropdown.scrollable.bottom div::after { opacity: 0; }

/* DROP DOWN LIST */



.dropdown div ul { position: absolute; left: 0; top: 0; height: 100%; margin: 0px; width: 100%; list-style: none; overflow: hidden; }

.dropdown.scrollable.open ul { overflow-y: auto; }

/* DROP DOWN LIST ITEMS */



.dropdown div li { list-style: none; padding: 5px 5px !important; font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #7e7979; background:none; background:#f1f1f1; border:none !important; text-align:left;}

/* .focus class is also added on hover */



.dropdown li.focus { background: #e0e0e0; position: relative; z-index: 3; color: #777; }

/*.dropdown li.active { border-bottom: 1px solid #b2b2b2; }*/
