
html { overflow: hidden; overflow-y: scroll }

body { margin: 0; padding: 0; font-size: 12px; color: #181818; background: #fff; font-family: 'arial'; }
 input::-webkit-input-placeholder {color: #2d2d2d; opacity:1!important;}
 input:-moz-placeholder { /* Firefox 18- */ color: #2d2d2d; opacity:1!important; }
 input:-moz-placeholder {  /* Firefox 19+ */ color: #2d2d2d; opacity:1!important;}
 input:-ms-input-placeholder { color: #2d2d2d; opacity:1!important;}

a { color: #333; text-decoration: none; }

a:hover { color: #666; }

h1, h2, h3, h4, h5, h6, p { margin: 0; padding: 0; }

ul { margin: 0; padding: 0; }

@font-face { font-family: 'latoitalic'; src: url('../fonts/lato-italic-webfont.eot'); src: url('../fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-italic-webfont.woff') format('woff'), url('../fonts/lato-italic-webfont.ttf') format('truetype'), url('../fonts/lato-italic-webfont.svg#latoitalic') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'TradeGothicLT-BoldCondTwenty'; src: url('../fonts/TradeGothic-Condensed Bold No.20.eot'); src: url('../fonts/TradeGothic-Condensed Bold No.20.woff') format('woff'), url('../fonts/TradeGothic-Condensed Bold No.20.ttf') format('truetype'), url('../fonts/TradeGothic-Condensed Bold No.20.svg') format('svg'); font-weight: normal; font-style: normal; }


@font-face {font-family: 'TradeGothicLT-BoldCondTwenty';src: url('../fonts/2A910D_0_0.eot');src: url('../fonts/2A910D_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2A910D_0_0.woff') format('woff'),url('../fonts/2A910D_0_0.ttf') format('truetype');}


@font-face { font-family: 'latobold_italic'; src: url('../fonts/lato-bolditalic-webfont.eot'); src: url('../fonts/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-bolditalic-webfont.woff') format('woff'), url('../fonts/lato-bolditalic-webfont.ttf') format('truetype'), url('../fonts/lato-bolditalic-webfont.svg#latobold_italic') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'latoregular'; src: url('../fonts/lato-regular-webfont.eot'); src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato-regular-webfont.svg#latoregular') format('svg'); font-weight: normal; font-style: normal; }

.last { background: none!important; }

.header_top { width: 100%; float: left; position: relative; z-index: 9999999; }

.soon { float: left; width: 100%; text-align: center; padding: 50px 0px 0px 0px; }

.banner_text_bg { width: 780px; height: 768px; margin: 0 auto; }

.banner_text_top { width: 780px; height: 117px; float: left; text-align: center; margin: 75px 0 0; }

.banner_text_bottom { width: 780px; height: 61px; float: left; text-align: center; margin: 475px 0 0; }

.nav_bg { width: 100%; float: left; margin: 0px 0; position: absolute; left: 0px; bottom: 0px; z-index: 9999999; height: 100px; }

.nav_bg .nav_inner { width: 100%; height: 115px; background: url(../images/nav_bg.jpg) repeat-x center bottom #2d2d2d; float: left; margin: 0px 0; float: left; z-index: 9999999; padding: 0px 0px 0px 0px; }

.keep { float: left; width: 100%; margin: 22px 0px 0px 0px; }

.keep .mail_box { float: left; width: 400px; background: #FFF; border: 1px solid #CCC; height: 54px; margin: 0px 0px 0px 15px; text-indent: 15px; line-height: 50px; font-size: 14px; }

.keep .do_button { float: left; background: #fcee21; color: #2d2d2d; padding: 12px 15px 11px; font-family: 'TradeGothicLT-BoldCondTwenty'; border: none; font-size: 26px; margin: 0px 0px 0px 10px; cursor: pointer; }

.header { width: 740px; height: auto; margin: 0 auto; }

.display_message { text-align: center; font-size: 20px; font-family: 'latoregular'; margin: 15px 0px 0px 0px; float: left; width: 100%; }

/*.header .nav .select_city_bg:hover ul.city{ display:block;}*/

@media (max-width: 800px) {
	
input { -webkit-appearance: none;  border-radius: 0;}

.header { height: auto; margin: 0 auto; width: 100%; }

.keep .mail_box { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; float: left; font-size: 14px; height: 54px; line-height: 50px; margin: 0 0 0 15px; text-indent: 15px; width: 83%; }

.keep .left { float: left; width: 100%; text-align: center; margin: 0px 0px 10px 0px; }

.nav_bg .nav_inner { background: url("../images/nav_bg.jpg") repeat-x scroll center bottom #2D2D2D; float: left; height: auto; margin: 0; padding: 0px 0px 30px 0px; width: 100%; z-index: 9999999; }

.keep .do_button { height:57px;}


}

@media (max-width: 500px) {
	
input { -webkit-appearance: none;  border-radius: 0;}

.header { height: auto; margin: 0 auto; width: 100%; }

.keep .mail_box { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; float: left; font-size: 14px; height: 54px; line-height: 50px; margin: 0 0 0 15px; text-indent: 15px; width: 90%; }

.keep .left { float: left; width: 100%; text-align: center; margin: 0px 0px 10px 0px; }

.nav_bg .nav_inner { background: #2D2D2D; float: left; height: auto; margin: 0; padding: 0px 0px 30px 0px; width: 100%; z-index: 9999999; }

.keep .do_button { background: none repeat scroll 0 0 #FCEE21; border: 1px solid #FCEE21; color: #2D2D2D; cursor: pointer; float: left; font-family: 'TradeGothicLT-BoldCondTwenty'; font-size: 26px; margin: 10px 0 0 15px; padding: 12px 0px 11px; width: 90%; text-align: center; height:57px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; }

.soon { float: left; padding: 50px 0 0; text-align: center; width: 100%; }

.soon img { width: 95%; }


.nav_bg {
    bottom: 0; float: left; height: auto; left: 0; margin: 0; position: relative; float:left; width: 100%; z-index: 9999999;}
	
	
.header { float:left; width: 100%; }

}
