
form { font-size: x-small; }

:focus, :active { outline: 0; }

/* Example 1 */


form#example1 { width: 35em; padding: 2em; background: #E9F1B4; margin: 1em auto; text-align: left; overflow: hidden; }

form#example1 .pf_wrap_class { height: 1%; overflow: hidden; }

form#example1 .pf_ph_cont { width: 34em; float: left; overflow: hidden; }

form#example1 .pf_ph_cont strong { float: left; font-size: x-small; padding: 0 0 0 0; width: 13.9em; height: 2.9em; background: url('../../img/button.png') no-repeat center center; }

form#example1 .pf_ph_cont strong span { display: none; }

form#example1 .pf_ph { float: left; font-size: 1.2em; padding: 0.5em; overflow: hidden; white-space: nowrap; width: 15.5em; }

/* Example 2 */


form#example2 { width: 35em; padding: 2em; background: #BAD1F0; margin: 1em auto; text-align: center; }

form#example2 .pf_wrap_class { margin: 0 auto; }

form#example2 .pf_ph_cont strong { display: block; width: 11.5em; height: 3.5em; background: url('../../img/nofile_cool.png') no-repeat center top; }

form#example2 .selected .pf_ph_cont strong { background: url('../../img/nofile_cool.png') no-repeat center bottom; }

form#example2 .pf_ph_cont strong span { display: none; }

/* Example 3 */

.pf_ph_cont strong { text-indent:-99999px;}

.browse1 { float: left; width: 148px; }

.browse1 #browse { cursor: pointer; }

.browse1 .pf_wrap_class { float: left; width: 100% !important; }

.browse1 .pf_ph_cont { display: block; float: left; width: 100%; overflow: hidden; }

.browse1 .pf_ph_cont strong { display: inline; float: left; width: 148px; height: 70px; background: url(../../images/m_upload1.jpg) no-repeat 0px 0px; cursor: pointer; }

.browse1 .pf_ph { float: left; background: url(../../images/primary_browse_box.jpg) no-repeat 0px 0px; width: 148px; height: 70px; overflow: hidden; white-space: nowrap; cursor: pointer; padding: 13px 10px 0; font-size: 11px; display:none;}
.browse1 .pf_ph_cont strong span { display: none; }




.browse2 { float: left; width: 148px; }

.browse2 #browse { cursor: pointer; }

.browse2 .pf_wrap_class { float: left; width: 100% !important; }

.browse2 .pf_ph_cont { display: block; float: left; width: 100%; overflow: hidden; }

.browse2 .pf_ph_cont strong { display: inline; float: left; width: 148px; height: 70px; background: url(../../images/m_upload2.jpg) no-repeat 0px 0px; cursor: pointer; }

.browse2 .pf_ph { float: left; background: url(../../images/primary_browse_box.jpg) no-repeat 0px 0px; width: 148px; height: 70px; overflow: hidden; white-space: nowrap; cursor: pointer; padding: 13px 10px 0; font-size: 11px; display:none;}
.browse1 .pf_ph_cont strong span { display: none; }





.browse3 { float: left; width: 148px; }

.browse3 #browse { cursor: pointer; }

.browse3 .pf_wrap_class { float: left; width: 100% !important; }

.browse3 .pf_ph_cont { display: block; float: left; width: 100%; overflow: hidden; }

.browse3 .pf_ph_cont strong { display: inline; float: left; width: 148px; height: 70px; background: url(../../images/m_upload3.jpg) no-repeat 0px 0px; cursor: pointer; }

.browse3 .pf_ph { float: left; background: url(../../images/primary_browse_box.jpg) no-repeat 0px 0px; width: 148px; height: 70px; overflow: hidden; white-space: nowrap; cursor: pointer; padding: 13px 10px 0; font-size: 11px; display:none;}
.browse3 .pf_ph_cont strong span { display: none; }




.browse4 { float: left; width: 148px; }

.browse4 #browse { cursor: pointer; }

.browse4 .pf_wrap_class { float: left; width: 100% !important; }

.browse4 .pf_ph_cont { display: block; float: left; width: 100%; overflow: hidden; }

.browse4 .pf_ph_cont strong { display: inline; float: left; width: 148px; height: 70px; background: url(../../images/m_upload4.jpg) no-repeat 0px 0px; cursor: pointer; }

.browse4 .pf_ph { float: left; background: url(../../images/primary_browse_box.jpg) no-repeat 0px 0px; width: 148px; height: 70px; overflow: hidden; white-space: nowrap; cursor: pointer; padding: 13px 10px 0; font-size: 11px; display:none;}
.browse4 .pf_ph_cont strong span { display: none; }




.browse5 { float: left; width: 148px; }

.browse5 #browse { cursor: pointer; }

.browse5 .pf_wrap_class { float: left; width: 100% !important; }

.browse5 .pf_ph_cont { display: block; float: left; width: 100%; overflow: hidden; }

.browse5 .pf_ph_cont strong { display: inline; float: left; width: 148px; height: 70px; background: url(../../images/m_upload5.jpg) no-repeat 0px 0px; cursor: pointer; }

.browse5 .pf_ph { float: left; background: url(../images/primary_browse_box.jpg) no-repeat 0px 0px; width: 148px; height: 70px; overflow: hidden; white-space: nowrap; cursor: pointer; padding: 13px 10px 0; font-size: 11px; display:none;}
.browse5 .pf_ph_cont strong span { display: none; }


