html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0;/*font: inherit;*/

/*vertical-align: baseline;*/
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
article, section, nav, footer { display:block; }
input { outline:none !important; }
select { outline:none !important; }
img { border:0px; outline:none }
textarea { font-family:Arial, Helvetica, sans-serif; outline:none; resize:none; font-size:12px;}
u { text-decoration:underline }
p { padding:0px 0px 0px 0px; }
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; font-weight:normal; }
ul { margin:0px; padding:0px; }
li { margin:0px; padding:0px; }
ol { margin:0px; padding:0px; }
/*------------- Reset ---------------*/


/* --- Global Classes --- */

.clearfix:after { visibility: hidden; display: block; font-size:0; content: " "; clear:both; height:0; }
*html .clearfix { zoom:1; } /* IE6 */
*first-child+html .clearfix { zoom:1; }/* IE7 */
.clear { height:0px; overflow: hidden; clear:both; }
.left { float:left; }
.right { float:right; }

::-moz-selection{background:#333; color:#fff; text-shadow:none}
::selection{background:#333; color:#fff; text-shadow:none}

/* --- Global Classes --- */
