.dropdown { position: relative; width: 167px; border: 0px solid #ccc; cursor: pointer; background: url(../../images/search_select.jpg); -webkit-user-select: none; -moz-user-select: none; user-select: none; height:32px; float:left; overflow:hidden;}

.sort_dd .dropdown { position: relative; width: 117px; border: 0px solid #ccc; cursor: pointer; background: url(../../images/sorted_demo.jpg); -webkit-user-select: none; -moz-user-select: none; user-select: none; height:30px; float:left; overflow:visible;}

.dropdown.open { z-index: 2; overflow:visible; }

.merchant_liveoffer .detail table tr td.first{ width:205px;}

.merchant_statistic .head table tr th{ width:31%;}
.merchant_statistic .head table tr th.first{ width:400px;}


.merchant_statistic .head2 table tr th.first{ width:177px;}


.dropdown { position: relative; width: 167px; border: 0px solid #ccc; cursor: pointer; background: url(../images/search_select.jpg); -webkit-user-select: none; -moz-user-select: none; user-select: none; height:33px; float:left; overflow:hidden;}


.dropdown.open #test{ display:block; }



