@media (max-width: 800px) {

.nav_bg2 { background: none repeat scroll 0 0 #2D2D2D; float: left; height: auto; margin: 0; width: 100%; z-index: 9999999; }

.header { height: auto; margin: 0 auto; width: 100%; }

.header .logo { float: left; height: auto; margin: 25px 0; width: 100%; text-align: center; }

.mobile_nav { float: left; width: 100%; text-align: center; display: block; cursor: pointer; }

.header .nav { float: right; height: auto; margin: 0; width: 100%; display: none; background: #2d2d2d; }

.nav_bg { top: 0px!important; float: left; height: 140px; left: 0; margin: 0; position: fixed !important; width: 100%; z-index: 9999999; }

.header .nav ul li { background: url("../images/nav_sep.jpg") no-repeat scroll right 40px rgba(0, 0, 0, 0); cursor: pointer; float: left; margin: 0; padding: 0; width: 100%; }

.nav_bg .nav_inner { height: 140px; }

.header_top { float: left; position: relative; width: 100%; min-width: 140px; }

.bgStretcher .search_bg { margin: 140px 0px 0px 0px !important; }

.header .nav .select_city_bg { border-top: 0 solid #FEEC28; float: right; height: auto; position: relative; text-align: center; width: 100%; margin: 8px 0px 0px; }

.header .nav .select_city_bg p { color: #6B6766; display: inline; font-family: 'latoitalic'; font-size: 14px; padding: 10px 0 5px; text-align: center; }

.header .nav .select_city_bg .select_city { color: #FEEC28; cursor: pointer; float: none; font-family: 'TradeGothicLT-BoldCondTwenty'; font-size: 16px; height: auto; margin: 3px 0; text-transform: uppercase; width: 100px; }

.header .nav ul { float: right; width: 100%; text-align: center; list-style: none outside none; }

.header .nav ul li a { color: #B7B4B4; display: block; font-family: 'latoitalic'; font-size: 14px; line-height: normal; padding: 15px 0px; }

.header .nav ul li a.short_list { border-top: 6px solid #F58126; color: #F58126; font-family: 'TradeGothicLT-BoldCondTwenty'; font-size: 16px; line-height: normal; }

.header .nav ul li a.log_in_c { border-top: 6px solid #5EC9DC; color: #5EC9DC; font-family: 'TradeGothicLT-BoldCondTwenty'; font-size: 16px; line-height: normal; }

.header .nav ul li a.sign_up { border-top: 6px solid #9BC83C; color: #9BC83C; font-family: 'TradeGothicLT-BoldCondTwenty'; font-size: 16px; line-height: normal; }

.nav_bg2 .header .nav ul li { background: url("../images/nav_sep.jpg") no-repeat scroll right 40px rgba(0, 0, 0, 0); float: left; margin: 0; padding: 0 0px; width: 100%; }

.header .nav ul li a.log_inner { width: 100%; padding: 0px; line-height: 50px; }

.header .nav ul li a.comment_nav { width: 100%; }

.header .nav ul li a .member_img { float: none; display: inline-block; }

.header .nav ul li a .name_title { float: none; display: inline-block; }

.header .nav ul li .logout_sub { display: none; width: 100%; text-align: center; position: relative; top: 0px; float: left; }

.header .nav ul li .logout_sub ul li a { padding: 0px; }

.header .nav ul li a.comment_nav { line-height: 57px; min-height: 50px; }

.header .nav ul li .notification { width: 340px; height: auto; float: right; -webkit-box-shadow: 2px 3px 10px 0 #292929; box-shadow: 2px 3px 10px 0 #292929; position: absolute; top: 80px; right: 0; background: #fff; display: none; z-index: 9999; }

ul.city { left: 0px; }

.login_dd_bg { top: 131px; height: 350px; overflow: auto; }

.login_dd_main { width: 90% }

.login_top { width: 100%; }

.login_top .login_dd_left { width: 100%; }

.login_top .login_dd_right { width: 100%; }

.forgot_password { width: 100%; }

.login_bottom { width: 100%; }

.login_bottom .login_dd_left { width: 100%; }

.login_bottom .login_dd_right { width: 100%; margin: 4px 0px 0px 0px; }

.login_top .login_dd_right .position_login { width: 80%; font-size: 16px; font-weight: bold; height: 35px; line-height: 35px; }

.login_top .login_dd_left ul li img { max-width: 25px; }

.login_top .login_dd_left ul li p { padding: 0px 10px; }

.login_top .login_dd_left ul { margin: 5px 0px; }

.forgot_password_left { width: 50%; }

.forgot_password_right { width: 50%; }

.login_bottom .login_dd_left { margin: 22px 0px 0px 0px; }

.login_bottom .login_dd_right .remember_pass { float: left; width: 50%; }

.login_bottom .login_dd_right .sign_in { width: 50%; text-align: right; }

.forgot_password_left p { font-size: 14px; padding: 0px 0px 0px 8px; float: left; }

.search_con2 .right_ques .tip { width: 280px; }

.forgot_password_left img { margin: 0px; }

.search_con2 .right_ques { float: right; margin: 20px 0 20px 8px; position: relative; cursor: pointer; display: none; }

.right_ques_mobile { float: right; margin: 20px 0 20px 8px; position: relative; cursor: pointer; display: block; }

.right_ques_mobile:hover .tip { display: block; }

.right_ques_mobile .tip { font-size: 16px; width: 280px; padding: 15px; position: absolute; right: -15px; top: 28px; background: #FFF; border: 1px solid #2d333d; z-index: 999; display: none; }

.right_ques_mobile .tip p { margin: 0px 0px 10px 0px; }

.right_ques_mobile .tip .arrow { position: absolute; right: 20px; top: -8px; background: url(../images/question_arrow2.png); width: 15px; height: 8px; }

.filter2 { width: 100%; }

.filter2 .filter_nav { margin: 10px 6px 10px 0 }

.filter2 .filter_btn { margin: 10px 0 10px; }

.search_con2 .position_search { width: 700px; height: auto; float: left; border: none; background: none; font-size: 32px; font-family: 'Arial'; color: #fff; margin: 10px 0; font-weight: bold; }

.search_main { height: auto; margin: 0 auto; position: relative; width: 90%; }

.search_con1 { border-bottom: 1px solid #2D2D2D; float: left; height: auto; padding: 8px 0; width: 100%; }

.search_con2 { border-bottom: 1px solid #2D2D2D; float: left; height: auto; padding: 5px 0; width: 100%; }

.search_con3 { border-bottom: 1px solid #2D2D2D; float: left; height: auto; padding: 0; width: 100%; }

.search_con3 .right { float: left; margin: 0px 0px 15px 0px; width: 100%; }

.search_con1 p { color: #2D2D2D; font-family: 'latoitalic'; font-size: 19px; margin: 0px 0 0; padding: 10px 0 4px; text-align: center; }

.search_con2 .left_zoom { float: left; margin: 14px 15px 14px 0; display: none; }

.search_box_outer { float: left; padding: 5px; position: relative; width: 100%; }

.search_con2 .position_search_mobile { background: url("../images/zoom.png") no-repeat 0px 0px; text-indent: 35px; border: medium none; color: #FFFFFF; float: left; font-family: 'Arial'; font-size: 26px; font-weight: bold; height: auto; margin: 10px 0; width: 96%; display: block; }

.search_con3 ul li { float: left; width: 100%; margin: 0 6px 0px 0; padding: 0; text-align: center; }

.hasDatepicker { background: url("../images/calendar2.jpg") no-repeat right 0 #fff; border: medium none; color: #000000; cursor: pointer; float: left; font-size: 16px; height: 32px; line-height: 32px; margin: 0; padding: 0; position: relative; text-indent: 15px; width: 100%; }

.search_con3 ul { float: left; list-style: none outside none; margin: 22px 0 0px; width: 100%; }

.search_con3 .dropdown { text-align: left; margin: 10px 0px 10px 0px; -moz-user-select: none; background: url("../images/search_select2.jpg") no-repeat right 0 #fff; width: 100%; }

.whats_hot_text { margin: 60px auto; width: 95%; }

.whats_hot_text img { width: 100%; }

.how_it_works_text { height: auto; margin: 60px auto; text-align: center; width: 100%; }

.how_it_works_text img { width: 95%; }

.how_it_works_bg { height: auto; width: 100%; }

.compare_box { width: 100%; }

.compare_box ul { list-style: none; text-align: center; width: 100%; float: left; margin: 0 0px; padding: 30px 0; }

.compare_box ul li { width: 100%; height: auto; float: left; text-align: center; background: none; min-height: inherit; margin: 0px 0px 15px 0px; }

.compare_box ul li .search_area { width: 100%; margin: 0 auto; height: auto; }

.compare_box ul li .compare_area { width: 100%; margin: 0 auto; height: auto; }

.compare_box ul li .book_area { width: 100%; margin: 0 auto; height: auto; }

.get_local_news_bg { width: 102%; height: auto; float: left; }

.get_local_news_text { width: 100%; height: auto; margin: 60px auto; text-align: center; }

.get_local_news_text img { width: 100%; }

.sign_up_bg { width: 100%; height: 305px; float: left; background: url(../images/red_bg.png) repeat-x left top; }

.sign_up_main { width: 100%; height: auto; margin: 0 auto; }

.sign_up_con1 { width: 100%; height: auto; float: left; border-bottom: 1px solid #2d2d2d; padding: 8px 0; }

.sign_up_con2 { width: 100%; height: auto; float: left; border-bottom: 1px solid #2d2d2d; padding: 5px 0; }

.sign_up_con3 { width: auto; float: right; margin: 15px 0px 0px 0px; }

.sign_up_con2_mobile { width: auto; display: block; }

.sign_up_con2_mobile .gender { width: auto; display: block; float: left; width: 180px; }

.sign_up_con2_mobile .gender p { text-indent: 0px; }

.sign_up_con2_mobile .gender .info { float: left; width: 100%; margin: 0px 0px 0px 10px; }

.business_btn { background: none; border: medium none; cursor: pointer; float: right; height: auto; text-indent: 0; width: 100%; }

.position_business { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: medium none; color: #FFFFFF; float: left; font-family: 'latobold_italic'; font-size: 20px; height: auto; margin: 26px 0; width: 100%; text-align: center; }

.footer_main { height: auto; margin: 0 auto; width: 100%; }

.footer_left { float: none; height: auto; margin: 30px auto 10px; text-align: center; width: 100%; }

.footer_left ul li { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); display: inline-block; float: none; margin: 0; padding: 0; text-align: center; }

.footer_left p { clear: both; color: #CBCBCB; font-family: 'Arial'; font-size: 12px; padding: 10px 15px; text-align: center; }

.footer_right { float: right; height: auto; margin: 0px 0 10px; text-align: center; width: 100%; }

/*.bgstretcher { height: 1px !important }*/





.header_top { min-height: inherit !important; }

.list_you_business_con { height: auto; margin: 0 auto; width: 85%; }

.list_you_business { width: 100%; text-align: center; }

.merchant_header_bg .merchant_header_main { margin: auto; width: 100%; }

.merchant_header_bg .head { float: left; margin: 20px 0 0 0; width: 100%; text-align: center; }

.merchant_header_bg .right { float: right; margin: 10px 0 10px; width: 100%; text-align: center; }

.merchant_header_bg .right img { max-width: 200px; }

.merchant_header_bg { background: none repeat scroll 0 0 #CBDC4E; float: left; height: auto; width: 100%; }

.merchant_header_bg .head { font-size: 24px; }

.merchant_main_con { width: 95%; padding: 0px 15px; }

.merchant_mobile_menu { display: block; float: left; width: 100%; background: url(../images/left_mobile_menu.png) no-repeat center; padding: 10px 0px; height: 17px; cursor: pointer; }

.merchant_main .merchant_main_left { float: left; height: auto; width: 100%; display: none; }

.merchant_main .merchant_main_left .sidebar { float: left; height: auto; width: 100%; }

.merchant_main { width: 100%; height: auto; float: left; background: none; }

.merchant_main .merchant_main_right { float: right; height: auto; margin: 6px 0 0; width: 100%; }

.customer_main .customer_main_right { float: right; height: auto; margin: 6px 0 0; width: 100%; }

.merchant_main .merchant_main_right .progress_bar_bg .progress_bar { width: 81%; }

.merchant_main .merchant_main_right .business_profile ul li .dropdown { margin: 10px 10px 0px 0px; }

.merchant_main .merchant_main_right .add_social ul li .input_box { width: 78%; }

.merchant_main .merchant_main_right .business_profile ul li .input_box { width: 90%; }

.merchant_main .merchant_main_right .additional ul li { width: 100%; }

.merchant_main .merchant_main_right .additional ul li .desc { width: 90% }

.merchant_main .merchant_main_right .additional ul li .parking { width: 90% }

.merchant_main .merchant_main_right .save_bg input { width: 100%; }

.merchant_main .merchant_main_right .merchant_contact ul li .input_box { width: 95% }

.merchant_newoffer ul li .container .price { width: 87%; margin: 0px 0px 10px 0px; }

.merchant_newoffer ul li .container .normally { width: 87% }

.merchant_newoffer ul li .container .short_description { width: 87%; }

.question_mark { right: 22px; }

.merchant_newoffer ul li .container .find_print { width: 87%; }

.merchant_main .merchant_main_left .sidebar ul li .submenu { left: 0; position: relative; top: 0; width: 100% }

.merchant_main .merchant_main_left .sidebar ul li .submenu .triangle { display: none; }

.customer_main .customer_main_left { float: left; height: auto; width: 100%; display: none; }

.customer_main .customer_main_left .sidebar { float: left; height: auto; width: 100%; }

.customer_main { background: none; width: 95%; padding: 0px 10px; }

.customer_main_con { height: auto; margin: 0 auto; width: 100%; }

.customer_yello_main { margin: auto; width: 100%; }

.customer_yello_bg { background: none repeat scroll 0 0 #FAED25; float: left; height: auto; width: 100%; padding: 15px 0px; }

.customer_yello_main .head { font-size: 24px; margin: 0px 0 0 00px; width: 100%; text-align: center; }

.customer_yello_main .right { float: right; width: 100%; text-align: center; margin: 10px 0 0; }

.customer_yello_main .right img { max-width: 200px; }

.customer_main .customer_main_right .customer_about_me ul li .first_name { width: 90%; margin: 0px 0px 10px 0px; }

.customer_main .customer_main_right .customer_about_me ul li .last_name { width: 90%; float: left; }

.customer_main .customer_main_right .customer_about_me ul li .email { width: 90% }

.customer_main .customer_main_right .customer_password ul li .password { width: 90%; margin: 0px 0px 10px 0px; }

.customer_main .customer_main_right .customer_password ul li .password2 { width: 90%; float: left; }

.customer_main .customer_main_right .customer_about_me ul li .pincode { width: 56px; }

.customer_main .customer_main_right .customer_about_me ul li iframe { height: 230px; }

.customer_main .customer_main_right .customer_about_me ul li .comments { width: 100%; text-align: right }

.customer_main .customer_resort_right { float: right; height: auto; margin: 6px 0 0; width: 100%; }

.ondi_top { height: auto; margin: 0 auto; width: 100%; }

.ondi_top p { color: #2D2D2D; float: left; font-family: 'latoitalic'; font-size: 19px; margin: 0; padding: 15px 0; text-align: center; }

.ondi_top img { float: right; margin: 18px 0; display: none; }

.booking_content { height: auto; margin: 30px auto; padding: 0px 0px; width: 95%; }

.booking_content .booking_detail .booking_box { height: auto; width: 100%; }

.booking_content .booking_detail .booking_box .address { background: none; }

.booking_content .booking_detail .booking_box .value { width: 100% }

.booking_content .booking_detail .booking_box .name table { width: 100%; }

.booking_content .booking_detail .booking_box .name { background: none; float: left; height: auto; padding: 10px 0px 0px; width: 100%; text-align: center; }

.booking_content .booking_detail .booking_box .name table tr td { color: #2D2D2D; font-family: 'arial'; font-size: 21px; font-weight: bold; height: auto; }

.booking_content .booking_detail .booking_box .value p { color: #2D2D2D; font-family: 'arial'; font-size: 21px; font-weight: bold; padding: 5px 0; }

.booking_form ul li p { color: #6B6766; float: left; font-family: 'latobold_italic'; font-size: 20px; padding: 20px 0 10px; width: 100%; }

.booking_form ul li .hasDatepicker { float: left; width: 70%; font-size: 18px; background: url("../images/book_calendar_mobile.jpg") no-repeat right 17px; border: 1px solid #CCC; }

.booking_form ul li .number_of_people { width: 61%; float: left; font-size: 18px; }

.booking_form ul li .custom_select_ajax { float: left; width: 100%; }

.booking_form ul li .custom_select_ajax .sbHolder { font-size: 18px; float: left; width: 61%; }

.booking_form ul li .price { float: left; width: 61%; }

.booking .ui-datepicker { display: none; padding: 0.2em 0.2em 0; width: 94%; }

.got_promotion_code { border: none; width: 100%; height: auto; margin: 35px 0px 10px; }

.got_promotion_code .promotion_code { width: 76%; border: 1px solid #9BC83C; }

.got_promotion_code a { display: block; float: left; width: 100%; }

.payment_mode { height: auto; width: 100%; text-align: center; }

.payment_mode .full_security { width: 100%; margin: 0 0 0 0px; }

.payment_mode .payment_method { width: 100%; margin: 0 0 0 0px; }

.payment_mode .authentic { width: 100%; margin: 0px 0px; }

.payment_mode p { padding: 10px 0 10px; }

.book_it_in_btn { margin: 15px 0 10px; width: 100%; }

.payment_option_content .payment_option_detail .progress_bar_bg .progress_bar { background: url("../images/progress_right.png") no-repeat scroll right center; float: left; height: 65px; position: relative; width: 88%; }

.payment_option_content { height: auto; margin: 30px auto; width: 90%; }

.payment_option_content .payment_option_detail .progress_bar_bg .step_number { float: right; height: auto; text-align: right; width: auto; }

.payment_option_content .payment_option_detail .progress_bar_bg .step_number p { font-size: 60px; }

.payment_option_content .payment_option_detail .payment_option_form ul li .left_field { width: 100%; margin: 0px 0px 10px 0px; }

.payment_option_content .payment_option_detail .payment_option_form ul li .position_payment { width: 74% }

.payment_option_content .payment_option_detail .payment_option_form { padding: 0px 0px; width: 100%; }

.payment_option_content .payment_option_detail .payment_option_form ul li p { width: 100%; padding: 0px; margin: 0px 0px 0px 0px; }

.payment_option_content .payment_option_detail .payment_option_form ul li .left_field .exp_date { margin: 0px; }

.payment_option_content .payment_option_detail .payment_option_form ul li .checked_comment h3 { width: 100%; }

.payment_option_content .payment_option_detail .payment_option_form ul li .checked_comment img { display: none; }

.payment_option_content .payment_option_detail .payment_option_form ul li .check_payment_opt { margin: 5px 10px 5px 0px; }

.payment_option_content .payment_option_detail .payment_option_form ul li .left_field .exp_date { margin: 0px 10px 0px 0px; }

.payment_option_content .payment_option_detail .option ul li { background: none; }

.signup_top { width: 100%; }

.signup_top_main { width: 100%; text-align: center; }

.signup_pointer { display: none; }

.signup_banner_text { width: 100%; margin: 38px auto; }

.signup_banner_text img { width: 100%; }

.signup_banner_bg { height: auto; }

.signup_content { width: 100%; }

.signup_main_top { width: 90%; float: none; height: auto; margin: 30px auto; }

.signup_main_top .signup_social_left { width: 100%; }

.signup_main_top .signup_social_right { float: left; width: 95%; }

.signup_main_top .signup_social_right .position_login { width: 80%; }

.signup_form { float: none; height: auto; margin: 0 auto 15px; width: 95%; }

.signup_form ul li .signup_form_right { float: left }

.signup_form ul li .signup_form_left { float: left; width: 100%; }

.signup_form ul li .signup_form_left .signup_gender { float: left; margin: px 0px 0px 0px; }

.signup_form ul li .signup_form_left .position_signup_form { width: 85%; }

.signup_bottom_banner { height: auto; margin: 15px 0px 0px 0px; }

.signup_banner_con ul li { width: 100%; margin: 5px 0px; }

.signup_banner_con { width: 88%; }

.signup_banner_con ul li.fill_length { width: 100%; height: auto; }

.signup_banner_con ul li.white .white_box_text { width: 100%; }

.signup_banner_con ul li.white .white_box_msg { width: 100%; text-align: center; margin: 0px; }

.signup_banner_con ul li.white .white_box_comment { width: 100%; text-align: center; margin: 0px; background: url(../images/signup_banner_count.png) no-repeat center 0px; margin: 15px 0px; }

.about_banner_bg { min-height: inherit }

.list_business_banner { height: auto; }

.list_business_text { width: 100%; margin: 25px auto }

.list_business_text img { width: 100%; }

.banner_con { width: 90%; }

.banner_con ul li { width: 100%; margin: 5px 0px; }

.list_business_content { width: 90%; }

.list_business_content .list_business_detail ul li .position_binfo { width: 90%; }

.list_business_content .list_business_detail ul li p { line-height: inherit; }

.banner_con ul li.fill_length { width: 100%; }

.list_business_content .heading h1 { font-size: 30px; }

.list_business_content .sub_heading h3 { font-size: 16px; }

.faq_content { width: 90%; }

.about_banner_text { width: 100%; margin: 25px 0px; }

.about_banner_text img { width: 100%; }

.inner_content { width: 100%; }

.about_bottom_banner { height: 200px; }

.blog_page_content { width: 90%; }

.blog_page_content .blog_page_detail .blog_page_left { width: 100%; }

.blog_page_content .blog_page_detail .blog_page_left img { max-width: 100%; }

.blog_page_content .blog_page_detail .blog_page_right { width: 90%; background: #f2f0f1; padding: 0px 15px; }

.blog_page_content .blog_page_detail .detail_blog_left { width: 100%; }

.blog_left_detail img { max-width: 100%; }

.blog_share_thought ul li .right_thought { width: 100%; }

.services_bg ul li { float: left; height: auto; width: 100%; position: relative; }

.kwicks { height: auto !important; }

.service_desc { min-height: 200px; }

.compare1_content { width: 95%; height: auto; margin: 0px auto; }

.compare1_content .compare1_content_detail ul li { margin: 8px 0; padding: 0; float: left; width: 100%; height: auto; float: left; background: #fff; border: 1px solid #c0bdbd; }


.login_bottom .login_dd_right .remember_pass img { margin: 0px 10px 0px 0px; }

.login_bottom .login_dd_right .remember_pass p { font-size: 14px; }

.customer_main .customer_main_right .member_detail ul li .photo_left { width: 50%; }

.customer_main .customer_main_right .member_detail ul li .photo_right { width: 40%; }

.customer_main .customer_main_right .member_payment_detail ul li .payment_detail { width: auto; }

.customer_main .customer_main_right .member_payment_detail ul li .detail { width: 260px; padding: 0px 1px; }

.customer_main .customer_main_right .customer_about_me ul li .gender { float: left; margin: 10px 0px 0px 0px; }

.photo_left_inner .photo_left .file { float: left; height: 80px; width: 148px; }

.photo_left_inner .photo_right { float: left; margin: 0; text-align: right; width: 150px; }

.customer_main .customer_main_right .customer_payment_detail ul li .payment_right { float: left; margin: 0 0 0 10px; width: 317px; }

.cus_short_list .table_customer { width: 100%; }

.popolo_content { height: auto; margin: 0 auto; width: 95%; }

.popolo_contact_left { width: 100%; }

.popolo_contact_left .overview { width: 95%; }

.popolo_contact_left .map_bg { width: 100%; }

.popolo_contact_left .map_bg .map { width: 100%; }

.popolo_contact_left .map_bg .map iframe { width: 100%; }

.popolo_contact_left .map_bg .address { width: 95%; }

.popolo_contact_left .social_bg { width: 95%; }

.social_bg_left { width: 100%; }

.social_bg_right { width: 100%; }

.popolo_contact_right { width: 100%; }

.opening_hours { width: 95%; }

.parking { width: 95%; }

.menu { width: 95%; }

.questions { width: 95%; }

.popolo_content { height: auto; margin: 0 auto; width: 95%; }

.current_offers .current_offers_detail ul li { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #C0BDBD; float: left; height: auto; margin: 0; padding: 0; width: 100%; }

.current_offers .current_offers_detail ul li .name { background: url("../images/bokking_sep.png") no-repeat scroll right center rgba(0, 0, 0, 0); float: left; height: auto; padding: 0 15px; width: 55%; }

.popolo_left_slider { background: none repeat scroll 0 0 #F04D4B; float: left; height: 332px; padding: 0 25px; width: 300px; }

.popolo_slider_main { width: 100%; }

.popolo_content .current_offers { width: 100%; }

.compare1_content .compare1_content_detail ul li .name {
    background: url("../images/bokking_sep.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    float: left;
    height: auto;
    padding: 0 15px;
    width: 181px;
}

}

 @media (max-width: 400px) {

.upload_inner ul li .upload_info div { float: right; width: 100%; }

.upload_inner ul li .upload_info { float: right; margin: 10px 0 0; width: 100%; }

.merchant_main .merchant_main_right #iframe_id { height: 650px; }

.merchant_main .merchant_main_right .hours ul li.day { width: 100%; }

.merchant_main .merchant_main_right .hours ul li.from { width: 100%; }

.merchant_main .merchant_main_right .hours ul li.to { margin: 0; width: 100%; }

.merchant_main .merchant_main_right .hours ul li label { margin: 12px 15px 10px 0px; width: 100%; }

.merchant_newoffer ul li .container .to_date { width: 50%; margin: 0px 0px 10px; }

.merchant_newoffer ul li .container .qty { width: 40%; }

.merchant_newoffer ul li .container .max_pax { float: left; width: 40%; }

.merchant_newoffer ul li .container .all_bg { width: 100%; margin: 0px 0px 10px 0px; border-top: 1px solid #CCC; padding: 10px 0px 0px 0px; }

.merchant_newoffer ul li .container { border-bottom: 0px solid #CCC; }

.popup_window { width: 100%; }

.popup_bg_top { width: 100%; }

.popup_bg_main { width: 100%; }

.popup_bg_main .hours ul li.day { width: 95%; }

.popup_bg_main .hours ul li.from { width: 45%; }

.popup_bg_main .hours ul li.to { width: 45%; }

.popup_bg_main .hours ul { width: 95%; border-bottom: 1px solid #CCC; padding: 0px 0px 5px 0px; }

.popup_bg_main .hours ul li label { width: 100%; margin: 0px 0px 5px 0px; }

.merchant_newoffer ul li .container .from_date { width: 50%; margin: 0px 0px 10px; }

.footer_left { float: left; height: auto; margin: 30px 0 10px; width: 100%; }

.footer_left ul li { background: none; float: left; margin: 0; padding: 0; width: 100%; text-align: center; }

#description_advise .popup_window { width: 100%; height: auto; margin: 230px auto 0; }

#description_advise .popup_bg_top { background: #fff; width: 100%; height: 40px; float: left; }

#description_advise .popup_bg_main { background: #fff; width: 100%; height: auto; float: left; padding: 0px 15px 12px; overflow-y: auto; height: 162px; }

#print_advise .popup_window { width: 100%; height: auto; margin: 230px auto 0; }

#print_advise .popup_bg_top { background: #fff; width: 100%; height: 40px; float: left; }

#print_advise .popup_bg_main { background: #fff; width: 100%; height: auto; float: left; padding: 0px 15px 12px; overflow-y: auto; height: 102px; color: #242424; font-size: 18px; text-align: center; }

.customer_main .customer_main_right .customer_payment_detail ul li { height: auto; }

.customer_main .customer_main_right .customer_payment_detail ul li p { float: left; width: 100%; }

.customer_main .customer_main_right .customer_payment_detail ul li .payment_right { width: 100%; }

.customer_main .customer_main_right .customer_payment_detail ul li .payment_left { width: 100%; }

.customer_main .customer_main_right .customer_payment_detail ul li .drop_down { float: left; margin: 0px 0px 10px 0px; }

.customer_main .customer_main_right .customer_payment_detail ul li .card_no { width: 90%; margin: 0px 0px 10px 0px; }

.customer_main .customer_main_right .customer_payment_detail ul li .card_name { width: 90%; }

.customer_main .customer_main_right .customer_things ul li .thing { margin: 0 0 5px; width: 100%; }

.shortlist_mobile { display: block; float: left; width: 100%; border-bottom: 1px solid #e5e5e5; padding: 0px 0px 10px 0px; }

.shortlist_mobile .list { float: left; width: 100%; }

.shortlist_mobile .image { float: left; width: auto; }

.shortlist_mobile .detail { float: right; width: 65% }

.shortlist_mobile .detail .address { float: left; width: 100%; }

.shortlist_mobile .detail { float: right; width: 65%; }

.shortlist_mobile .detail .address h3 { color: #2D2D2D; font-family: 'arial'; font-size: 13px; font-style: italic; font-weight: bold; height: auto; padding: 0 0 3px; }

.shortlist_mobile .detail .address h4 { color: #514E4D; font-family: 'arial'; font-size: 12px; font-style: italic; padding: 0; }

.shortlist_mobile .detail .address p { color: #7E7979; font-family: 'arial'; font-size: 11px; font-style: italic; padding: 1px 0; }

.shortlist_mobile .detail .address .cradit { color: #F04D4B; float: left; height: 16px; margin: 1px 0; width: 100%; }

.shortlist_mobile .detail .address .cradit p { color: #F04D4B; float: left; padding: 2px 5px 0 0; }

.shortlist_mobile .name { float: left; width: 100%; }

.shortlist_mobile .value { float: left; width: 100%; margin: 0px 0px 10px 0px; }

.shortlist_mobile .click { float: left; width: 100%; }

.shortlist_mobile .detail .image { float: left; width: 100%; }

.shortlist_mobile .name { color: #2D2D2D; font-family: 'arial'; font-size: 18px; font-weight: bold; background: none; padding: 0 0px; }

.shortlist_mobile .value { height: auto; }

.shortlist_mobile .value p { font-size: 18px; font-family: 'arial'; color: #2d2d2d; font-weight: bold; padding: 0px 0; }

.shortlist_mobile .value p span { color: #959595; font-size: 11px; font-style: italic; display: block; margin: 1px 0; }

.shortlist_mobile .click .book { width: 95px; height: 80px; float: right; text-align: right; position: relative; margin: 0px 0; }

.shortlist_mobile .click .book a.book_button { display: block; width: 95px; height: 80px; float: left; background: #2d2d2d; text-align: right; position: relative; margin: 0px 0; color: #FFF; font-family: 'TradeGothicLT-BoldCondTwenty'; text-align: center; font-size: 30px; line-height: 78px; }

.shortlist_mobile .click .book a.book_button:hover { background: #f14d4c; }

.shortlist_mobile .click .book .only_left { background: #feec28; color: #2d2d2d; font-size: 9px; font-family: 'arial'; padding: 0px 3px; float: left; position: absolute; bottom: 8px; left: -25px; }

.shortlist_mobile .click .remove { width: auto; height: auto; text-align: center; margin: 0px 0px; }

.shortlist_mobile .click .remove p { text-align: center; font-size: 14px; font-family: 'latobold_italic'; color: #514e4d; padding: 0 0 0px; }

.shortlist_mobile .click .remove ul { list-style: none; float: right; width: 70%; }

.shortlist_mobile .click .remove ul li { float: left; background: url(../images/share_sep.jpg) no-repeat right center; padding: 12px 22px; position: relative; }

.shortlist_mobile .click .remove ul li a { text-align: center; font-size: 14px; font-family: 'latobold_italic'; color: #514e4d; padding: 0 0 0px; }

.shortlist_mobile .click .remove ul li:hover .nav_social { display: block; }

.shortlist_mobile .click .remove ul li .nav_social { background: url(../images/cus_social.png) no-repeat; width: 96px; height: 58px; float: right; position: absolute; top: 48px; right: 0px; padding: 0 8px; display: none; z-index: 9999; }

.shortlist_mobile .click .remove ul li .nav_social img { float: left; margin: 19px 2.5px; }

.shortlist_mobile .click .remove ul li.remove_gray { background: none!important; }

.shortlist_mobile .click .remove ul li.remove_gray p { color: #a8a4a4!important; }

.cus_short_list .table_customer { display: none; }

.popolo_slider_bg { height: auto; margin: 0 auto; width: 95%; }

.popolo_slider_main { float: left; height: auto; position: relative; top: 10px; width: 100%; z-index: 999; }

.popolo_left_slider { background: none repeat scroll 0 0 #F04D4B; float: left; height: auto; padding: 0 25px; width: 84%; }

.popolo_content { width: 95% }

.popolo_content .current_offers { width: 100%; }

.current_offers .current_offers_detail ul li { width: 100%; }

.current_offers .current_offers_detail ul li table.table_resort { width: 95%; height: auto; }

.current_offers .current_offers_detail ul li .name table tr td { height: auto; text-align: center; }

.current_offers .current_offers_detail ul li .name { width: 100%; }

.current_offers .current_offers_detail ul li .value { width: 100%; }

.current_offers .current_offers_detail ul li .remove { width: 100%; }

.current_offers .current_offers_detail ul li .value p { padding: 10px 0px }

.current_offers .current_offers_detail ul li .remove .share .nav_social { left: 23%; right: auto; }

.current_offers .current_offers_detail ul li .book { width: 100%; text-align: center; }

.current_offers .current_offers_detail ul li .book .only_left { left: 30%; }

.popolo_banner_bg { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); height: auto; }

.popolo_banner_bg { height: auto; background: none; }

.popolo_right_slider { height: auto }

.popolo_right_slider { background: none repeat scroll 0 0 #FFFFFF; float: right; height: auto; width: 100%; display: none; }

.popolo_contact_left .overview { width: 87%; }

.popolo_contact_left .map_bg .address { width: 85%; }

.popolo_contact_left .social_bg { width: 85%; }

.opening_hours { width: 85%; }

.parking { width: 85%; }

.menu { width: 85%; }

.questions { width: 85%; }



.compare1_content .compare1_content_detail ul li .image { width: 100%; text-align: center; height: auto; float: left; }

.compare1_content .compare1_content_detail ul li .address { width: 100%; height: auto; float: left; background: none; padding: 0 12px; height: 115px; text-align: center; }

.compare1_content .compare1_content_detail ul li .name { width: 100%; height: auto; float: left; background: none; padding: 0 0px; }

.compare1_content .compare1_content_detail ul li .name table { border: none; width: 100%; }

.compare1_content .compare1_content_detail ul li .name table tr td { text-align: center; height: auto; font-size: 21px; font-family: 'arial'; color: #2d2d2d; font-weight: bold; }

.compare1_content .compare1_content_detail ul li .name p { font-size: 21px; font-family: 'arial'; color: #2d2d2d; font-weight: bold; padding: 42px 0; }

.compare1_content .compare1_content_detail ul li .value { width: 35%; ; height: auto; float: left; text-align: center; }

.compare1_content .compare1_content_detail ul li .value p { font-size: 21px; font-family: 'arial'; color: #2d2d2d; font-weight: bold; padding: 25px 0; }

.compare1_content .compare1_content_detail ul li .value p span { color: #959595; font-size: 11px; font-style: italic; display: block; margin: 1px 0; }

.compare1_content .compare1_content_detail ul li .book { width: 85px; height: auto; float: right; text-align: center; position: relative; margin: 13px 10px; }

.compare1_content .compare1_content_detail ul li .book .only_left { background: #feec28; color: #2d2d2d; font-size: 9px; font-family: 'arial'; padding: 0px 3px; float: left; position: absolute; bottom: -1px; left: -10px; }

.compare1_content .compare1_content_detail ul li .remove { width: 55px; height: auto; float: left; text-align: center; margin: 11px 0; }

.compare1_content .compare1_content_detail ul li .remove p { text-align: center; font-size: 14px; font-family: 'latobold_italic'; color: #514e4d; padding: 0 0 10px; }

.compare1_content .compare1_content_detail ul li .address .cradit p { width: 100%; text-align: center; }


}
