#bg-body {
    background: none repeat scroll 0 0 #D2D2D0;
    height: 200%;
    left: -50%;
    position: fixed;
    top: -50%;
    width: 200%;
}
#bg-body > img {
    bottom: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}
/* switcher loader */
#bg-body-loader {
    background: url("../images/loading.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 10px;
    left: 50%;
    margin: -5px 0 0 -40px;
    position: absolute;
    top: 50%;
    width: 80px; display:none;
}
#bg-body.loading #bg-body-loader {
    display: block !important;
    z-index: 9999;
}
/* switcher bullets */
#bg-body-navigation {
    position: fixed;
    left: 0;
    bottom: 100px;
    width: 100%;
    height: 15px;
    text-align: center;
    z-index: 1; display:none;
}
#bg-body-navigation > a {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background:#ccc;
    margin: 0 5px;
}
#bg-body-navigation > a:hover,
#bg-body-navigation > a.active {
    background:#000;
    opacity: .7;
}
/* switcher nav */
#bg-body-prevnext-wrapper {
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 72px;
    z-index: 1; display:none
}
.bg-body-prevnext-link {
    display: block;
    width: 35px;
    height: 72px;
    position: absolute;
}
#bg-body-previous-link {
    background: url(../images/ico-prev-sprite.png) no-repeat 0 0;
    left:0;
}
#bg-body-previous-link:hover {
    background: url(../images/ico-prev-sprite.png) no-repeat 0 -72px;
}
#bg-body-next-link {
    background: url(../images/ico-next-sprite.png) no-repeat 0 0;
    right: 0;
}
#bg-body-next-link:hover {
    background: url(../images/ico-next-sprite.png) no-repeat 0 -72px;
}

#wrapper {
    position:relative;
    width:100%;
    height:100%;
    margin:0 auto;
}
#info {
    position:absolute;
    width:400px;
    height:auto;
    bottom:150px;
    right:0;
    background:#000;
    opacity: .7;
    padding:15px;
    box-shadow:10px 10px 20px #333;
    z-index: 2;
}